# Lazarus / FreePascal
*.o
*.ppu
*.compiled
*.or
*.rst
*.dbg
*.dcu
*.exe
*.dll
*.so
*.a
# Lazarus backup/temp etc
backup/
DevelopmentNotes/
old/
*.bak
*.~*

# Lazarus Lib
lib/*o
lib/*.ppu
lib/x86_64-linux

# Build output
MouseCatcher
*.res

# System
.DS_Store
Thumbs.db

# Lazarus session files
*.lps
# Linux temp
*~
